/* Normalise */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

/* General */
body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 570px;
  height: 100%;

  background-color: #222;
}

/* Title */
.title {
  margin-top: 100px;
  width: 100%;
  text-align: right;
  padding: 2rem;
}

.title span.top {
  font-size: 72px;
  line-height: 72px;
}
.title span.firstname {
  font-weight: 300;
}

.title span.bottom {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 38px;
  margin-right: -38px;
  position: relative;
  text-align: right;
  top: -10px;
}

.title a {
  color: white;
  text-decoration: none;
}

/* Navigation */
nav ul {
  list-style-type: none;
  text-align: right;
}

nav li {
  border-right: 0px solid white;
  padding-right: 0.5rem;
}

nav li:hover {
  border-right-width: 0.5rem;
  padding-right: 0px;
}

nav a {
  display: inline-block;
  width: 100%;
  color: #aaa;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-decoration: none;
  line-height: 3rem;
  padding-right: 1.5rem;
  font-weight: 100;
}

nav li:hover a {
  color: white;
}

/* Social Media bar */
.social-bar {
  color: #aaa;
  font-size: 48px;
  padding: 2rem;
  text-align: right;
  cursor: pointer;
}

.social-bar {
  list-style-type: none;
}

.social-bar li {
  display: inline-block;
}

.social-bar i {
  transition: 200ms color;
}

.social-bar i:hover {
  color: white;
}

.content {
  margin-left: 570px;
  width: 70%;
  max-width: 900px;
  padding: 100px 0 50px 100px;
}

.content h2 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 4.5rem; 
  margin-bottom: 1.5rem;

  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #ddd;
}

.content h3 {
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

.content p+h3,
.content ul+h3,
.content ol+h3 {
  margin-top: 3rem;
}

.content h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-top: 0.5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content p+h4 {
  margin-top: 1.5rem;
}

.content p,
.content ul,
.content ol,
.content code {
  font-size: 1rem;
  line-height: 1.5rem;
}

.content ul,
.content ol {
  padding-left: 4rem;
}

.content ul ul,
.content ul ol,
.content ol ul,
.content ol ol {
  padding-left: 3rem;
}

.content p+p,
.content ul+p,
.content ol+p,
.content p+ul,
.content p+ol {
  margin-top: 1.5rem;
}

.content pre {
  margin: 1.5rem 0;
  background-color: #fafafa;
  padding: 2rem;
  border: 1px solid #ddd;
}

.content code {
  font-family: 'Consolas', monospace;
}

.content a {
  color: #1266A6;
}

.content a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 2rem;

  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}