<!doctype html>
<html>
  <head>
    <title>Mariusz Różycki Tech Consulting</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div class="sidebar">
      <div class="social-bar">
        <ul>
          <li><i class="fa fa-linkedin-square"></i></li>
          <li><i class="fa fa-twitter-square"></i></li>
          <li><i class="fa fa-youtube"></i></li>
          <li><i class="fa fa-github-square"></i></li>
        </ul>
      </div>

      <div class="title">
        <a href="/">
          <h1>
            <span class="top"><span class="firstname">mariusz</span>różycki</span><br><span class="bottom">consulting</span>
          </h1>
        </a>
      </div>

      <nav>
        <ul>
          <li><a href="{{ url_for('blog.main') }}">blog</a></li>
          <li><a href="{{ url_for('about.me') }}">about me</a></li>
          <li><a href="{{ url_for('about.trainings') }}">training</a></li>
          <li><a href="{{ url_for('about.software') }}">software development</a></li>
          <li><a href="{{ url_for('about.contact') }}">contact</a></li>
        </ul>
      </nav>

      <footer>&copy;2020 Mariusz Różycki</footer>
    </div>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
